.wrapper
    .container
        header.menu
            a(href="#").menu__logo
            .menu__icon
                span
                span
                span
            
            .menu__list-wrap
                ul.menu__list
                    li.menu__link
                        a(href="#") Link 1
                    li.menu__link
                        a(href="#") Link 2
                    li.menu__link
                        a(href="#") Link 3
                    li.menu__link
                        a(href="#") Link 4
                        
            a(href="tel:").menu__phone 8(800)-000-00-00
        .header__body
