.wrapper
    .container
        //- SWIPER
        //- <!-- Slider main container -->
        //- .swiper-container
        //-     <!-- Additional required wrapper -->
        //-     .swiper-wrapper">
        //-         <!-- Slides -->
        //-         .swiper-slide slide 1
        //-         .swiper-slide slide 2
        //-         .swiper-slide slide 3
        //-     <!-- If we need pagination -->
        //-     .swiper-pagination
        //-     <!-- If we need navigation buttons -->
        //-     .swiper-button-prev
        //-     .swiper-button-next
        //-     <!-- If we need scrollbar -->
        //-     .swiper-scrollbar
</div>